*{  margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    font-family: 'Roboto', sans-serif;
}

.nav{
    height: 100px;
}

.nav .container{
    display: flex;
    height: inherit;
}

.areaLogo{
    display: flex;
    height: inherit;
    flex: 1;
    align-items: center;
}

.areaLogo img {
    height: 60%;
    width: auto;
}


.areaNav{
    flex: 2.5;
    display: flex;
    align-items: center;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }

.areaNav li a {
    text-decoration: none;
    color: #707070 ;
    font-weight: bold;
    text-transform: uppercase;
    transition: color .3s ease-in-out ;
}

.areaNav li a:hover{
    color:#26c6da;
}

.areaConta{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaConta button{
    background-color: #26c6da;
    border-radius: 20px;
    height: 38px;
    width: 150px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    transition: background-color .3s ease-in-out ;
}

.areaConta button:hover{
    background-color: #1D9AA9;
}

.banner{
    width: 100%;
    height: 550px;
    background-image: url(/assets/img/banner_pousada2.jpg);
    background-position: center;
    background-size: cover;
}

.aboutUs{
    margin-top: 60px;
    margin-bottom: 50px;
}

.aboutUs .container{
    display: flex;
}

.historia{
    flex: 1;
}

.historia p{
    color:#707070 ;
    margin-top: 30px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo h1{
    color: #fe8a65;
    font-weight:900; 
}

.imgAreaAbout{
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.imgAbout{
    background-image: url(/assets/img/sobre_home.jpg);
    background-position: center;
    background-size: cover;
    height: 330px;
    width: 460px;
    border-radius: 30px;
    box-shadow:-10px 10px 20px #bdbdbd;
}

.widgetTitle{
    height: 10px;
    width: 100px;
    background-color:#26c6da ;
}

